@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');

@font-face {
  font-family: "Aktiv Grotesk Extended";
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/AktivGroteskEx_Rg.ttf');
}

.App {
  font-family: "Aktiv Grotesk Extended", sans-serif;
  background-color: #1D253C;
  overflow: hidden;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column-content {
  padding: 40px 80px;
}

.river-blue {
  background-color: #004d80;
  color: #EEF4F8;
}

.rust-belt {
  background-color: #D34E23;
  color: #EEF4F8;
}

.background-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

h1 {
  text-transform: uppercase;
  font-size: 15vw;
  margin: 0;
}

@media (min-width: 480px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
}

h3 {
  font-size: 42px;
}

h4 {
  margin: 0;
  font-size: 20px;
}

p {
  font-family: "EB Garamond", serif;
  font-size: 20px;
}

ul {
  text-align: left;
}

.link:hover {
  color: #D34E23;
}

#register-button {
  color: #EEF4F8;
  background-color: #1D253C;
  border: none;
  font-size: 36px;
  font-family: "Aktiv Grotesk Extended", sans-serif;
  text-transform: uppercase;
  padding: 20px;
  margin: auto;
  transition: all 0.2s ease;
  -webkit-transition: all 0.5s ease;
  box-shadow: 0 0 5px #4d4d4d;
  text-decoration: none;
  text-align: center;
}

#register-button:hover {
  background-color: #F2BA42;
  transition: all 0.5s ease;
  -webkit-transition: all 0.2s ease;
}


.blue-sky {
  background-color: #85B6C5;
  color: #1D253C;
}

.center-ul {
  margin: auto;
}

.about-us-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-us-links {
  text-decoration: none;
  border: 4px solid black;
  padding: 10px;
  width: 175px;
  color: black !important;
  margin: 20px;
  background-color: transparent;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.calm-blue {
  background-color: #EEF4F8;
  color: #1D253C;
}

.single-column {
  text-align: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.media {
  width: 30vw;
  height: 21vw;
  border: none;
  margin: 10px;
  min-width: 300px;
  min-height: 210px;
}

#media-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.heartland-yellow {
  background-color: #F2BA42;
  color: #1D253C;
}

.heartland-yellow a:hover {
  color: #D34E23;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
}

a {
  color: inherit;
  transition: all 0.5s ease;
  -webkit-transition: all 0.2s ease;
  font-family: inherit;
}

.strato-blue {
  background-color: #1D253C;
  color: #f2e4d6;
}

.powrLoaded {
  padding: 15px 25px 0;
}

.sans-serif {
  font-family: "Aktiv Grotesk Extended", sans-serif;
}

.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left;
}

.about-us-links:hover {
  color: white !important;
  background-color: black;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.single-col-page {
  padding: 50px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.collat-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.language-links {
  padding: 0 1em;
}

.language-links-invisible {
  padding: 0 1em;
  visibility: hidden;
}

.language-links:hover {
  color: #D34E23;
}

.language-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#register-text {
  text-align: center;
}

.background {
  opacity: 0.5;
  width: 60vw;
}

.bottom-block {
  position: absolute;
  top: 0;
}

.top-block {
  position: absolute;
}

.right-block {
  right: 0;
}

.left-block {
  left: 0;
}

.transparent {
  -o-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0
}

.opaque {
  -o-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 1
}

.arrow-button {
  font-family: "Changa", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  padding: 20px 40px 20px 30px;
  color: #f2ba42;
  background-color: #1d253c;
  width: 40vw;
  position: relative;
  left: 0;
  z-index: 1000000000;
}

.arrow-button > span {
  -o-transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
  position: absolute;
  right: 30px;
  color: #F2BA42;
}

.arrow-button:hover > span {
  -o-transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
  transform: translate(15px);
}

.animated-image {
  object-fit: cover;
  width: 40vw;
  height: 40vw;
  position: absolute;
}

.move-in-right-hidden {
  transform: translate(100%);
}

.move-in-left-hidden {
  transform: translate(-100%);
}

.move-in-shown {
  -o-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  transform: translate(0);
}

.spacer {
  height: 100px;
}

.section {
  background-color: #eef4f8;
}

#get-involved-form {
  width: 45vw;
  position: absolute;
  padding: 20px;
  font-size: 20px;
  font-family: "EB Garamond", serif;
  right: 0;
}

#get-involved-form > h4 {
  font-family: "Changa", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
}

#get-involved-form form {
  display: flex;
  justify-content: space-between;
}

#get-involved-form form > div {
  display: flex;
  flex-direction: column;
}

form > .large-col {
  flex-grow: 1;
}

form > .small-col {
  max-width: 10em;
}

#get-involved-form input {
  padding: 15px;
  font-size: 20px;
  font-family: "EB Garamond", serif;
  border: none;
  margin: 5px;
}

.submit {
  -o-transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
  font-family: "Changa", sans-serif !important;
  text-transform: uppercase;
  height: 100%;
  padding: 0 !important;
  background-color: transparent;
  border: 3px solid #1D253C !important;
  color: #1D253C;
}

.submit:hover {
  -o-transition: all ease 0.25s;
  -webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  transition: all ease 0.25s;
  background-color: #1D253C;
  color: #F2BA42;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  .background-img {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
  }

  .collat-row {
    flex-direction: column;
  }
}