@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');

.page {
  background-color: #EEF4F8;
  color: #1D253C;
  padding: 50px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.collat-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.language-links {
  padding: 1em;
}

.language-links:hover {
  color: #D34E23;
}

.language-button-container {
  display: flex;
  flex-direction: row;
}

